# -- Ignore version control files ----------------------------------------------------------------------------------------------
.git
.keep
.gitignore

# -- Ignore editors ------------------------------------------------------------------------------------------------------------
.idea/

# -- Ignore secrets ------------------------------------------------------------------------------------------------------------
configs/secrets/

# -- Ignore vendoring (not expected) -------------------------------------------------------------------------------------------
vendor/

# -- Ignore scripts / dockerfiles ----------------------------------------------------------------------------------------------
dockerfiles/
scripts/